worker_processes  2;
error_log  /mnt/nginx/error.log;
pid        logs/nginx.pid;

events {
    worker_connections  4096;
}

http {
    resolver  172.16.0.23 ;
    statsd_server graphite.fullcontact.com;

{{#clusters}}
    upstream {{clusterName}} {
    {{#servers}}
        server {{host}}:{{port}};
    {{/servers}}
        keepalive 24;
    }
{{/clusters}}

    server {
        listen 7080;
        location /nginx_status {
            stub_status on;
            access_log   off;
        }
    }

    log_format main  '"$remote_addr" "-" "$remote_user" "[$time_local]" "$request" "$status" "$body_bytes_sent" "$http_referer" "$http_user_agent" "$http_x_forwarded_for" "-" "$connection" "$request_time" "$upstream_cache_status" "$request_id"';

    server {
        listen 80;
        listen 443 ssl;
        server_name api.fullcontact.com;
        access_log /mnt/nginx/access.log main;
        client_max_body_size 20M;
        ssl_certificate /opt/nginx/ssl/fullcontact.crt;
        ssl_certificate_key /opt/nginx/ssl/fullcontact.key;
        set $elb_scheme $scheme;

        set_by_lua $stat_string '
            local uri = ngx.var.uri
            local parts = {}
            for part in uri:gmatch("[^/]+") do table.insert(parts, part) end
            return table.concat(parts, ".", 1, math.min(#parts, 2))
        ';

        statsd_count  "api.all_requests" 1;
        statsd_count  "api.requests.${stat_string}.${request_method}" 1;
        statsd_timing "api.response_time.${stat_string}.${request_method}" "$upstream_response_time";

    {{#locations}}
        location {{context}} {
        {{#upstream}}
            proxy_pass              {{protocol}}://{{clusterName}}:{{port}}
        {{/upstream}}
        {{#attributes}}
            {{key}}                 {{value}}
        {{/attributes}}
        }

    {{/locations}}
        location /check {
            return 200 "OK";
        }

        location /v2/contactLists {
            proxy_http_version 1.1;
            proxy_pass              $elb_scheme://cab-$elb_scheme;
            proxy_set_header        X-Real-IP $remote_addr;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header        Host $http_host;
            proxy_set_header        X-FC-RID $request_id;
            statsd_count "api.response_codes.cab.${status}" 1;
        }
    }
}